<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea Coffee and Games: Reservas</title>
    <link rel="icon" href="logotecito.png">
    <link rel="stylesheet" href="/styles.css">
    <style>
        #calendar-days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            width: 100%;
            text-align: center;
        }

        .day-name {
            background-color: #adff76;
            font-weight: bold;
        }

        #calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
            width: 500px;
            text-align: center;
        }

        .day {
            background-color: #adff76;
            padding: 10px;
            cursor: pointer;
            border-radius: 4px;
        }

        .day.empty {
            background-color: transparent;
            cursor: default;
        }

        .day:hover {
            background-color: #ffd29f;
        }

        #event-list {
            list-style-type: none;
            padding-left: 0;
        }

        #event-list li {
            padding: 20px 0;
            background-color: rgba(255, 255, 255, 0.582);
            border-bottom: 1px solid #ccc;
            background-image: none;
            background-size: cover;
            background-blend-mode: color;
            background-position: center;
            border-radius: 10px;
            margin-bottom: 10px;
            color: black;
        }

        #event-list li:last-child {
            border-bottom: none;
        }

        .foto-perfil {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
        }       

        .contenedor-perfil p {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: flex-start;
            justify-content: center;
            align-items: flex-start;
            margin: -5px auto;
        }
    </style>
</head>
<body>
    <div class="contenedor-color">
        <!-- Imagen del logotipo -->
        
        <img src="logotecito.png" alt="logotecito" class="contenedor-ajustado" width="180px">
        
        <div class="contenedor-botones" >
            <a href="/profile" class="boton-enlace">Perfil</a>
            <a href="/" class="boton-enlace">Calendario</a>
            <a href="/auth/google" class="boton-enlace">Iniciar sesión con Google</a>
        </div>
    </div>
    <div class="contenedor-interfaz">
        <div class="contenedor-perfil">
            <div class="foto-perfil-container">
                <img src="<%= user.urlfoto_usuario %>" alt="Foto de perfil" class="foto-perfil">
            </div>
            <div class="informacion-usuario">
                <br/><br/><br/><br/><br/>
                <h2><%= user ? user.nombre_usuario : 'Usuario' %></h2>
                <p><span><%= user.correo_usuario %></span></p>
                <p><span><%= user.numero_usuario %></span></p>
                <br/>
            </div>
        </div>
        <div>
            <% for (let i = 0; i < credenciales.length; i++) { %>
                <div class="contenedor-credencial">
                    <h3><%= credenciales[i].juego_credencial %></h3>
                    <p><%= credenciales[i].numero_credencial %></p>
                </div>
            <% } %>
        </div>
    </div>
    <div class="contenedor-interfaz">
        <div class="columna">
            <% for (let i = 0; i < compras.length; i++) { %>
                <div class="event-container">
                    <h3><%= compras[i].descripcion_compra %></h3>
                    <p><%= compras[i].fecha_compra %></p>
                    <p>$<%= compras[i].monto_compra %></p>
                    <p><%= compras[i].URL_boleta_compra %></p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>